body{
    background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
	color: red;
}

h1 {
	margin: 0;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}	
#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}

#content1 {
    padding: 10px;	
}	

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav.selected {
    font-weight: bold;
}
}
#projects{
	width: 600px;
	
}
#subcontent {
        width: 180px;
		float: right;
}
#subcontent ul {
	list-style-type: none;
	padding: 0;
}
#subcontent.selected {
    font-weight: bold;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
	
}
